# Project exclude paths
/.gradle/
/testing/lesson1/task1/build/
/testing/lesson1/task2/build/
/week1_variables_operations/lesson1_sout/task1/build/
/week1_variables_operations/lesson1_sout/task1/out/
/week1_variables_operations/lesson1_sout/task1/out/production/classes/
/week1_variables_operations/lesson1_sout/task2/build/
/week1_variables_operations/lesson1_sout/task2/out/
/week1_variables_operations/lesson1_sout/task2/out/production/classes/
/week1_variables_operations/lesson1_sout/task3/build/
/week1_variables_operations/lesson1_sout/task4/build/
/week1_variables_operations/lesson1_sout/task4/out/
/week1_variables_operations/lesson1_sout/task4/out/production/classes/
/week1_variables_operations/lesson1_sout/task5/build/
/week1_variables_operations/lesson1_sout/task5/out/
/week1_variables_operations/lesson1_sout/task5/out/production/classes/
/week1_variables_operations/lesson1_sout/task6/build/
/week1_variables_operations/lesson1_sout/task6/out/
/week1_variables_operations/lesson1_sout/task6/out/production/classes/
/week1_variables_operations/lesson1_sout/task7/build/
/week1_variables_operations/lesson1_sout/task7/out/
/week1_variables_operations/lesson1_sout/task7/out/production/classes/
/week1_variables_operations/lesson2_variable/task1/build/
/week1_variables_operations/lesson2_variable/task1/out/
/week1_variables_operations/lesson2_variable/task1/out/production/classes/
/week1_variables_operations/lesson2_variable/task2/build/
/week1_variables_operations/lesson2_variable/task2/out/
/week1_variables_operations/lesson2_variable/task2/out/production/classes/
/week1_variables_operations/lesson2_variable/task3/build/
/week1_variables_operations/lesson2_variable/task3/out/
/week1_variables_operations/lesson2_variable/task3/out/production/classes/
/week1_variables_operations/lesson2_variable/task4/build/
/week1_variables_operations/lesson2_variable/task4/out/
/week1_variables_operations/lesson2_variable/task4/out/production/classes/
/week1_variables_operations/lesson2_variable/task5/build/
/week1_variables_operations/lesson3_data_type/task1/build/
/week1_variables_operations/lesson3_data_type/task2/build/
/week1_variables_operations/lesson3_data_type/task2/out/
/week1_variables_operations/lesson3_data_type/task2/out/production/classes/
/week1_variables_operations/lesson3_data_type/task3/build/
/week1_variables_operations/lesson3_data_type/task3/out/
/week1_variables_operations/lesson3_data_type/task3/out/production/classes/
/week1_variables_operations/lesson3_data_type/task4/build/
/week1_variables_operations/lesson3_data_type/task4/out/
/week1_variables_operations/lesson3_data_type/task4/out/production/classes/
/week1_variables_operations/lesson3_data_type/task5/build/
/week1_variables_operations/lesson3_data_type/task5/out/
/week1_variables_operations/lesson3_data_type/task5/out/production/classes/
/week1_variables_operations/lesson4_operations_over_numbers/task1/build/
/week1_variables_operations/lesson4_operations_over_numbers/task2/build/
/week1_variables_operations/lesson4_operations_over_numbers/task2/out/
/week1_variables_operations/lesson4_operations_over_numbers/task2/out/production/classes/
/week1_variables_operations/lesson4_operations_over_numbers/task3/build/
/week1_variables_operations/lesson4_operations_over_numbers/task3/out/
/week1_variables_operations/lesson4_operations_over_numbers/task3/out/production/classes/
/week1_variables_operations/lesson4_operations_over_numbers/task4/out/
/week1_variables_operations/lesson4_operations_over_numbers/task4/out/production/classes/
/week1_variables_operations/lesson4_operations_over_numbers/task5/out/
/week1_variables_operations/lesson4_operations_over_numbers/task5/out/production/classes/
/week1_variables_operations/lesson5_boolean_data_type/task1/build/
/week1_variables_operations/lesson5_boolean_data_type/task2/out/
/week1_variables_operations/lesson5_boolean_data_type/task2/out/production/classes/
/week1_variables_operations/lesson5_boolean_data_type/task3/out/
/week1_variables_operations/lesson5_boolean_data_type/task3/out/production/classes/
/week1_variables_operations/lesson5_boolean_data_type/task4/out/
/week1_variables_operations/lesson5_boolean_data_type/task4/out/production/classes/